* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5rem;
  margin: 0 0.5rem;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 35%;
}

.hidden {
  display: none;
}

.nav {
  position: fixed;
  color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98vw;
  background: whitesmoke;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.post {
  width: 800px;
  margin-top: 50px;
}

.card {
  background: white;
  margin: 10px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin: 10px auto;
  font-size: 24px;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.clickable:hover {
  color: rgb(0, 124, 248);
}

@media screen and (max-width: 800px) {
  body {
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-align: justify;
  }

  .post {
    width: 100%;
  }

  .card-title {
    font-size: 20px;
  }
}

.saveConfirmed {
  background: white;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: dodgerblue;
  position: fixed;
  right: 25px;
  bottom: 50px;
}
